body{
  background-color: #7E808E;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color:black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: white;
}

li a:hover:not(.active) {
  background-color:#7E808E;
  color: white;
}
h1 {
  color: white;
}
p {
  color: white;
}
address{
  color: white;
}
a {
  color: black;
}
